In [1]:
import pandas as pd
import numpy as np
import matplotlib as ptl

In [2]:
chase_full = pd.read_csv(r"C:\Users\willd\OneDrive\Desktop\Budget\statements\transaction_csv\Chase0818_Activity20221231_20231118_20231119.CSV")
pnc_full = pd.read_csv(r"C:\Users\willd\OneDrive\Desktop\Budget\statements\transaction_csv\PNCaccountActivityExport.csv")

In [5]:
chase_full

,Transaction Date,Post Date,Description,Category,Type,Amount,Memo
0,11/15/2023,11/15/2023,Payment Thank You-Mobile,NaN,Payment,361.88,NaN
1,11/13/2023,11/14/2023,SONIC DRIVE IN #4415,Food & Drink,Sale,-15.19,NaN
2,11/10/2023,11/12/2023,BARRELS &amp; BOTTLES,Food & Drink,Sale,-71.56,NaN
3,11/09/2023,11/10/2023,KING SOOPERS #0682 FUE,Gas,Sale,-55.20,NaN
4,11/07/2023,11/08/2023,KING SOOPERS #0082,Groceries,Sale,-9.87,NaN
...,...,...,...,...,...,...,...
277,01/03/2023,01/05/2023,TWISTED MINDS,Shopping,Sale,-59.59,NaN
278,01/04/2023,01/05/2023,LinkedIn 7806759426,Bills & Utilities,Sale,-43.19,NaN
279,01/05/2023,01/05/2023,Payment Thank You-Mobile,NaN,Payment,142.54,NaN
280,01/03/2023,01/04/2023,FIRSTENERGY/EZPAYRECUR,Bills & Utilities,Sale,-52.17,NaN
281,12/31/2022,01/01/2023,TARGET 00018044,Groceries,Sale,-24.98,NaN

In [16]:
pnc_full

,Date,Description,Withdrawals,Deposits,Category,Balance
0,11/16/2023,ACH WEB XXXXX9263 CHASE CREDIT CRD EPAY,$361.88,NaN,-,$403.34
1,11/15/2023,ONLINE TRANSFER TO XXXXX5748,$800.00,NaN,-,$765.22
2,11/15/2023,"ACH CREDIT 07987436 ACTALENT, INC. DIR DEP",NaN,"$1,188.79",-,"$1,565.22"
3,11/09/2023,ACH WEB XXXXX6175 VENMO PAY...,$320.82,NaN,-,$376.43
4,11/09/2023,ACH WEB XXXXX8633 CHASE CREDIT CRD EPAY,$350.00,NaN,-,$697.25
5,11/08/2023,ONLINE TRANSFER TO XXXXX5748,$500.00,NaN,-,"$1,047.25"
6,11/08/2023,"ACH CREDIT 07987436 ACTALENT, INC. DIR DEP",NaN,"$1,188.78",-,"$1,547.25"
7,11/03/2023,CHECK 150 009542228,"$1,680.00",NaN,-,$358.47
8,11/02/2023,ACH WEB XXXXX5071 CHASE CREDIT CRD EPAY,$150.00,NaN,-,"$2,038.47"
9,11/01/2023,ONLINE TRANSFER TO XXXXX5748,"$1,000.00",NaN,-,"$2,188.47"
10,11/01/2023,"ACH CREDIT 07987436 ACTALENT, INC. DIR DEP",NaN,"$1,188.79",-,"$3,188.47"
11,10/30/2023,ACH WEB XXXXX3955 CHASE CREDIT CRD EPAY,$261.00,NaN,-,"$1,999.68"
12,10/30/2023,RECURRING DEBIT CARD XXXXX9303 APPLECOMBILL ...,$0.99,NaN,-,"$2,260.68"
13,10/27/2023,ACH CREDIT XXXXX5018 VENMO CAS...,NaN,$850.00,-,"$2,261.67"
14,10/26/2023,ACH WEB XXXXX0479 CHASE CREDIT CRD EPAY,$300.00,NaN,-,"$1,411.67"
15,10/26/2023,RECURRING DEBIT CARD XXXXX9299 SPOTIFY ...,$11.87,NaN,-,"$1,711.67"
16,10/25/2023,NON-PNC ATM SURCHARGE REIMBURSEMENT,NaN,$3.00,-,"$1,723.54"
17,10/25/2023,ATM TRANSACTION FEE REIMBURSEMENT,NaN,$3.00,-,"$1,720.54"
18,10/25/2023,"ACH CREDIT 07987436 ACTALENT, INC. DIR DEP",NaN,"$1,188.78",-,"$1,717.54"
19,10/24/2023,ATM WITHDRAWAL FEE,$3.00,NaN,-,$528.76
20,10/24/2023,ATM WITHDRAWAL MACDNS4009N1023 5739 184...,$83.00,NaN,-,$531.76
21,10/19/2023,ACH WEB XXXXX6562 CHASE CREDIT CRD EPAY,$200.00,NaN,-,$614.76
22,10/18/2023,ONLINE TRANSFER TO XXXXX5748,"$1,000.00",NaN,-,$814.76
23,10/18/2023,"ACH CREDIT 07987436 ACTALENT, INC. DIR DEP",NaN,"$1,188.79",-,"$1,814.76"
24,10/12/2023,ACH WEB XXXXX2950 CHASE CREDIT CRD EPAY,$200.00,NaN,-,$625.97
25,10/12/2023,ACH DEBIT XXXXX7472 SCHWAB BROKERAGE MON...,"$1,000.00",NaN,-,$825.97
26,10/11/2023,"ACH CREDIT 07987436 ACTALENT, INC. DIR DEP",NaN,"$1,188.77",-,"$1,825.97"
27,10/05/2023,ACH WEB XXXXX6507 CHASE CREDIT CRD EPAY,$300.00,NaN,-,$637.20
28,10/05/2023,ACH DEBIT XXXXX7472 SCHWAB BROKERAGE MON...,"$1,000.00",NaN,-,$937.20
29,10/04/2023,POS PURCHASE POS10202022 1577691 Gol...,$60.78,NaN,-,"$1,937.20"
30,10/04/2023,"ACH CREDIT 07987436 ACTALENT, INC. DIR DEP",NaN,"$1,228.64",-,"$1,997.98"
31,10/02/2023,CHECK 148 010880600,"$1,560.00",NaN,-,$769.34
32,10/02/2023,ACH WEB XXXXX9523 VENMO PAY...,$899.92,NaN,-,"$2,329.34"
33,09/29/2023,N0929 5739 PAYMENT POS004 1846463 APP...,$0.99,NaN,-,"$3,229.26"
34,09/27/2023,ACH WEB XXXXX2326 CHASE CREDIT CRD EPAY,$284.47,NaN,-,"$3,230.25"
35,09/27/2023,ACH CREDIT XXXXX5291 VENMO CAS...,NaN,$909.11,-,"$3,514.72"
36,09/27/2023,"ACH CREDIT 07987436 ACTALENT, INC. DIR DEP",NaN,"$1,188.78",-,"$2,605.61"
37,09/26/2023,RECURRING DEBIT CARD XXXXX9269 SPOTIFY ...,$11.87,NaN,-,"$1,416.83"
38,09/25/2023,INTEREST PAYMENT,NaN,$0.01,-,"$1,428.70"
39,09/21/2023,ACH WEB XXXXX7815 CHASE CREDIT CRD EPAY,$550.97,NaN,-,"$1,428.69"
40,09/20/2023,"ACH CREDIT 07987436 ACTALENT, INC. DIR DEP",NaN,"$1,188.79",-,"$1,979.66"
41,09/14/2023,ACH DEBIT XXXXX7472 SCHWAB BROKERAGE MON...,$250.00,NaN,-,$790.87
42,09/14/2023,ACH WEB XXXXX8147 CHASE CREDIT CRD EPAY,$750.00,NaN,-,"$1,040.87"
43,09/13/2023,"ACH CREDIT 07987436 ACTALENT, INC. DIR DEP",NaN,"$1,188.78",-,"$1,790.87"
44,09/11/2023,POS PURCHASE POS10202026 5217430 Gre...,$41.43,NaN,-,$602.09
45,09/07/2023,ACH DEBIT XXXXX7472 SCHWAB BROKERAGE MON...,$200.00,NaN,-,$643.52
46,09/07/2023,ACH WEB XXXXX5884 CHASE CREDIT CRD EPAY,$800.00,NaN,-,$843.52
47,09/06/2023,"ACH CREDIT 07987436 ACTALENT, INC. DIR DEP",NaN,"$1,223.55",-,"$1,643.52"
48,09/05/2023,ACH WEB XXXXX4254 CHASE CREDIT CRD EPAY,$200.00,NaN,-,$419.97
49,09/05/2023,ACH WEB XXXXX2168 VENMO PAY...,$860.75,NaN,-,$619.97
50,09/01/2023,ACH WEB XXXXX0156 CHASE CREDIT CRD EPAY,$500.00,NaN,-,"$1,480.72"
51,08/31/2023,CHECK 145 013546290,"$2,365.00",NaN,-,"$1,980.72"
52,08/30/2023,RECURRING DEBIT CARD XXXXX9242 APPLECOMBILL ...,$0.99,NaN,-,"$4,345.72"
53,08/30/2023,"ACH CREDIT 07987436 ACTALENT, INC. DIR DEP",NaN,"$1,223.57",-,"$4,346.71"
54,08/28/2023,RECURRING DEBIT CARD XXXXX9239 SPOTIFY ...,$11.87,NaN,-,"$3,123.14"
55,08/24/2023,ACH WEB XXXXX8635 CHASE CREDIT CRD EPAY,"$1,000.00",NaN,-,"$3,135.01"

In [3]:
print(chase_full.info())
print(pnc_full.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 282 entries, 0 to 281
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction Date  282 non-null    object
 1   Post Date         282 non-null    object
 2   Description       282 non-null    object
 3   Category          249 non-null    object
 4   Type              282 non-null    object
 5   Amount            282 non-null    float64
 6   Memo              0 non-null      float64
dtypes: float64(2), object(5)
memory usage: 15.5+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         56 non-null     object
 1   Description  56 non-null     object
 2   Withdrawals  39 non-null     object
 3   Deposits     17 non-null     object
 4   Category     56 non-null     object
 5   Balance      56 non-null     object
dtypes: object(6)
memory usage: 2.8+ KB
None

In [4]:
import datetime

In [5]:
# Convert date columns to datetime
chase_full['Transaction Date'] = pd.to_datetime(chase_full['Transaction Date'])
pnc_full['Date'] = pd.to_datetime(pnc_full['Date'])

In [6]:
#confirm data types
print(chase_full.info())
print(pnc_full.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 282 entries, 0 to 281
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Transaction Date  282 non-null    datetime64[ns]
 1   Post Date         282 non-null    object
 2   Description       282 non-null    object
 3   Category          249 non-null    object
 4   Type              282 non-null    object
 5   Amount            282 non-null    float64
 6   Memo              0 non-null      float64
dtypes: datetime64[ns](1), float64(2), object(4)
memory usage: 15.5+ KB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56 entries, 0 to 55
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Date         56 non-null     datetime64[ns]
 1   Description  56 non-null     object
 2   Withdrawals  39 non-null     object
 3   Deposits     17 non-null     object
 4   Category     56 non-null     object
 5   Balance      56 non-null     object
dtypes: datetime64[ns](1), object(5)
memory usage: 2.8+ KB
None

In [10]:
# reduce to september 2023 on 
chase_sept = chase_full[chase_full['Transaction Date'] >= '2023-09-01']
pnc_sept = pnc_full[pnc_full['Date'] >= '2023-09-01']

In [11]:
pnc_sept

,Date,Description,Withdrawals,Deposits,Category,Balance
0,2023-11-16,ACH WEB XXXXX9263 CHASE CREDIT CRD EPAY,$361.88,NaN,-,$403.34
1,2023-11-15,ONLINE TRANSFER TO XXXXX5748,$800.00,NaN,-,$765.22
2,2023-11-15,"ACH CREDIT 07987436 ACTALENT, INC. DIR DEP",NaN,"$1,188.79",-,"$1,565.22"
3,2023-11-09,ACH WEB XXXXX6175 VENMO PAY...,$320.82,NaN,-,$376.43
4,2023-11-09,ACH WEB XXXXX8633 CHASE CREDIT CRD EPAY,$350.00,NaN,-,$697.25
5,2023-11-08,ONLINE TRANSFER TO XXXXX5748,$500.00,NaN,-,"$1,047.25"
6,2023-11-08,"ACH CREDIT 07987436 ACTALENT, INC. DIR DEP",NaN,"$1,188.78",-,"$1,547.25"
7,2023-11-03,CHECK 150 009542228,"$1,680.00",NaN,-,$358.47
8,2023-11-02,ACH WEB XXXXX5071 CHASE CREDIT CRD EPAY,$150.00,NaN,-,"$2,038.47"
9,2023-11-01,ONLINE TRANSFER TO XXXXX5748,"$1,000.00",NaN,-,"$2,188.47"
10,2023-11-01,"ACH CREDIT 07987436 ACTALENT, INC. DIR DEP",NaN,"$1,188.79",-,"$3,188.47"
11,2023-10-30,ACH WEB XXXXX3955 CHASE CREDIT CRD EPAY,$261.00,NaN,-,"$1,999.68"
12,2023-10-30,RECURRING DEBIT CARD XXXXX9303 APPLECOMBILL ...,$0.99,NaN,-,"$2,260.68"
13,2023-10-27,ACH CREDIT XXXXX5018 VENMO CAS...,NaN,$850.00,-,"$2,261.67"
14,2023-10-26,ACH WEB XXXXX0479 CHASE CREDIT CRD EPAY,$300.00,NaN,-,"$1,411.67"
15,2023-10-26,RECURRING DEBIT CARD XXXXX9299 SPOTIFY ...,$11.87,NaN,-,"$1,711.67"
16,2023-10-25,NON-PNC ATM SURCHARGE REIMBURSEMENT,NaN,$3.00,-,"$1,723.54"
17,2023-10-25,ATM TRANSACTION FEE REIMBURSEMENT,NaN,$3.00,-,"$1,720.54"
18,2023-10-25,"ACH CREDIT 07987436 ACTALENT, INC. DIR DEP",NaN,"$1,188.78",-,"$1,717.54"
19,2023-10-24,ATM WITHDRAWAL FEE,$3.00,NaN,-,$528.76
20,2023-10-24,ATM WITHDRAWAL MACDNS4009N1023 5739 184...,$83.00,NaN,-,$531.76
21,2023-10-19,ACH WEB XXXXX6562 CHASE CREDIT CRD EPAY,$200.00,NaN,-,$614.76
22,2023-10-18,ONLINE TRANSFER TO XXXXX5748,"$1,000.00",NaN,-,$814.76
23,2023-10-18,"ACH CREDIT 07987436 ACTALENT, INC. DIR DEP",NaN,"$1,188.79",-,"$1,814.76"
24,2023-10-12,ACH WEB XXXXX2950 CHASE CREDIT CRD EPAY,$200.00,NaN,-,$625.97
25,2023-10-12,ACH DEBIT XXXXX7472 SCHWAB BROKERAGE MON...,"$1,000.00",NaN,-,$825.97
26,2023-10-11,"ACH CREDIT 07987436 ACTALENT, INC. DIR DEP",NaN,"$1,188.77",-,"$1,825.97"
27,2023-10-05,ACH WEB XXXXX6507 CHASE CREDIT CRD EPAY,$300.00,NaN,-,$637.20
28,2023-10-05,ACH DEBIT XXXXX7472 SCHWAB BROKERAGE MON...,"$1,000.00",NaN,-,$937.20
29,2023-10-04,POS PURCHASE POS10202022 1577691 Gol...,$60.78,NaN,-,"$1,937.20"
30,2023-10-04,"ACH CREDIT 07987436 ACTALENT, INC. DIR DEP",NaN,"$1,228.64",-,"$1,997.98"
31,2023-10-02,CHECK 148 010880600,"$1,560.00",NaN,-,$769.34
32,2023-10-02,ACH WEB XXXXX9523 VENMO PAY...,$899.92,NaN,-,"$2,329.34"
33,2023-09-29,N0929 5739 PAYMENT POS004 1846463 APP...,$0.99,NaN,-,"$3,229.26"
34,2023-09-27,ACH WEB XXXXX2326 CHASE CREDIT CRD EPAY,$284.47,NaN,-,"$3,230.25"
35,2023-09-27,ACH CREDIT XXXXX5291 VENMO CAS...,NaN,$909.11,-,"$3,514.72"
36,2023-09-27,"ACH CREDIT 07987436 ACTALENT, INC. DIR DEP",NaN,"$1,188.78",-,"$2,605.61"
37,2023-09-26,RECURRING DEBIT CARD XXXXX9269 SPOTIFY ...,$11.87,NaN,-,"$1,416.83"
38,2023-09-25,INTEREST PAYMENT,NaN,$0.01,-,"$1,428.70"
39,2023-09-21,ACH WEB XXXXX7815 CHASE CREDIT CRD EPAY,$550.97,NaN,-,"$1,428.69"
40,2023-09-20,"ACH CREDIT 07987436 ACTALENT, INC. DIR DEP",NaN,"$1,188.79",-,"$1,979.66"
41,2023-09-14,ACH DEBIT XXXXX7472 SCHWAB BROKERAGE MON...,$250.00,NaN,-,$790.87
42,2023-09-14,ACH WEB XXXXX8147 CHASE CREDIT CRD EPAY,$750.00,NaN,-,"$1,040.87"
43,2023-09-13,"ACH CREDIT 07987436 ACTALENT, INC. DIR DEP",NaN,"$1,188.78",-,"$1,790.87"
44,2023-09-11,POS PURCHASE POS10202026 5217430 Gre...,$41.43,NaN,-,$602.09
45,2023-09-07,ACH DEBIT XXXXX7472 SCHWAB BROKERAGE MON...,$200.00,NaN,-,$643.52
46,2023-09-07,ACH WEB XXXXX5884 CHASE CREDIT CRD EPAY,$800.00,NaN,-,$843.52
47,2023-09-06,"ACH CREDIT 07987436 ACTALENT, INC. DIR DEP",NaN,"$1,223.55",-,"$1,643.52"
48,2023-09-05,ACH WEB XXXXX4254 CHASE CREDIT CRD EPAY,$200.00,NaN,-,$419.97
49,2023-09-05,ACH WEB XXXXX2168 VENMO PAY...,$860.75,NaN,-,$619.97
50,2023-09-01,ACH WEB XXXXX0156 CHASE CREDIT CRD EPAY,$500.00,NaN,-,"$1,480.72"

In [12]:
chase_sept

,Transaction Date,Post Date,Description,Category,Type,Amount,Memo
0,2023-11-15,11/15/2023,Payment Thank You-Mobile,NaN,Payment,361.88,NaN
1,2023-11-13,11/14/2023,SONIC DRIVE IN #4415,Food & Drink,Sale,-15.19,NaN
2,2023-11-10,11/12/2023,BARRELS &amp; BOTTLES,Food & Drink,Sale,-71.56,NaN
3,2023-11-09,11/10/2023,KING SOOPERS #0682 FUE,Gas,Sale,-55.20,NaN
4,2023-11-07,11/08/2023,KING SOOPERS #0082,Groceries,Sale,-9.87,NaN
...,...,...,...,...,...,...,...
77,2023-09-04,09/04/2023,Payment Thank You-Mobile,NaN,Payment,200.00,NaN
78,2023-09-03,09/03/2023,IKON PASS,Entertainment,Sale,-929.00,NaN
79,2023-09-02,09/03/2023,WM SUPERCENTER #4567,Groceries,Sale,-107.95,NaN
80,2023-09-02,09/03/2023,UBER EATS,Food & Drink,Sale,-65.59,NaN
81,2023-09-01,09/03/2023,BOSS LIQUOR,Food & Drink,Sale,-21.87,NaN

In [20]:
# create useful dataframes from PNC
income = pnc_sept[pnc_sept['Description'].str.contains('ACTALENT, INC')]
venmo = pnc_sept[pnc_sept['Description'].str.contains('VENMO')]
rent =   pnc_sept[pnc_sept['Description'].str.contains('CHECK')]
cc_payments = pnc_sept[pnc_sept['Description'].str.contains('CHASE CREDIT')]
rent =   pnc_sept[pnc_sept['Description'].str.contains('CHECK')]

In [21]:
print(len(pnc_sept))
print(len(income))
print(len(venmo))
print(len(rent))
print(len(cc_payments))

51
11
5
2
14

In [17]:
venmo

,Date,Description,Withdrawals,Deposits,Category,Balance
3,2023-11-09,ACH WEB XXXXX6175 VENMO PAY...,$320.82,NaN,-,$376.43
13,2023-10-27,ACH CREDIT XXXXX5018 VENMO CAS...,NaN,$850.00,-,"$2,261.67"
32,2023-10-02,ACH WEB XXXXX9523 VENMO PAY...,$899.92,NaN,-,"$2,329.34"
35,2023-09-27,ACH CREDIT XXXXX5291 VENMO CAS...,NaN,$909.11,-,"$3,514.72"
49,2023-09-05,ACH WEB XXXXX2168 VENMO PAY...,$860.75,NaN,-,$619.97

In [19]:
rent

,Date,Description,Withdrawals,Deposits,Category,Balance
7,2023-11-03,CHECK 150 009542228,"$1,680.00",NaN,-,$358.47
31,2023-10-02,CHECK 148 010880600,"$1,560.00",NaN,-,$769.34